{% extends 'patient/layout.html' %}

{% block body %}
<div class="container mt-4">
    <h3 class="mb-3">Search Results for "{{ request.form.get('query') }}"</h3>

    <div class="card mb-3">
        <div class="card-header">Doctors</div>
        <ul class="list-group list-group-flush">
            {% for doctor in doctors %}
                <li class="list-group-item">{{ doctor.name }} - {{ doctor.department }}</li>
            {% else %}
                <li class="list-group-item">No doctors found</li>
            {% endfor %}
        </ul>
    </div>
    <a href="{{ url_for('patient_api.patient_dashboard')}}">Go Back</a>
</div>
{% endblock %}
