{% extends "admin/layout.html" %}
{% block body1 %}
    <form action="{{ url_for('admin_api.add_doctors') }}" method="post">
        <h3>Add a doctor</h3>
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Name of the doctor</label>
            <input type="text" class="form-control" id="formGroupExampleInput" name = "name" placeholder="Enter doctor's name" required>
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Username of the doctor</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" name = "username" placeholder="Enter doctor's username" required>
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Password of the doctor</label>
            <input type="password" class="form-control" id="formGroupExampleInput2" name = "password" placeholder="Enter doctor's password" required>
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Department of the doctor</label>
            <select name="department" id="department" class="form-select" required>
                <option value="" disabled selected>Select Department</option>
                {% for dept in all_departments %}
                    <option value="{{ dept.department_name }}">{{ dept.department_name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-outline-dark">Add</button>
        <a href="{{ url_for('admin_api.admin_dashboard') }}" class="btn btn-warning">Cancel</a>
    </form>
{% endblock %}