{% extends "admin/layout.html" %}
{% block body %}
    <h1>Doctors</h1>
    <div class="container-fluid d-flex flex-wrap">
        {% for doc in doctors %}
        <div class="card col-3 m-2">
            <div class="card-body">
                <h3 align="center">{{ doc.name }}</h3>
                <p>Department: {{ doc.department }}</p>
                <a href="{{ url_for('admin_api.delete_doctor', id=doc.id) }}" class="btn btn-outline-danger">Delete</a>
                <a href="{{ url_for('admin_api.update_doctor', doctor_id=doc.doctor_id) }}" class="btn btn-outline-warning">Update</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <h1>Patients</h1>
    <div class="container-fluid d-flex flex-wrap">
        {% for pat in patients %}
            <div class="card col-3 m-2">
                <div class="card-body">
                    <h3 align="center">{{ pat.name }}</h3>
                    <a href="{{ url_for('admin_api.delete_patient', id=pat.id) }}" class="btn btn-outline-danger">Delete</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <h1>Booked Appointments</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Appointment ID</th>
                <th>Patient ID</th>
                <th>Doctor ID</th>
                <th>Department</th>
                <th>Patient History</th>
            </tr>
        </thead>
        <tbody>
        {% for appt in booked %}
            <tr>
                <td>{{ appt.appointment_id }}</td>
                <td>{{ appt.patient_id }}</td>
                <td>{{ appt.doctor_id }}</td>
                <td>{{ doctor_department_map.get(appt.doctor_id, "N/A") }}</td>
                <td>
                    <a href="{{ url_for('admin_api.patient_history',patient_id=appt.patient_id)}}">View</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h1>Completed Appointments</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Appointment ID</th>
                <th>Patient ID</th>
                <th>Doctor ID</th>
                <th>Department</th>
                <th>Patient History</th>
            </tr>
        </thead>
        <tbody>
        {% for appt in completed %}
            <tr>
                <td>{{ appt.appointment_id }}</td>
                <td>{{ appt.patient_id }}</td>
                <td>{{ appt.doctor_id }}</td>
                <td>{{ doctor_department_map.get(appt.doctor_id, "N/A") }}</td>
                <td>
                    <a href="{{ url_for('admin_api.patient_history',patient_id=appt.patient_id)}}">View</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h1>Cancelled Appointments</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Appointment ID</th>
                <th>Patient ID</th>
                <th>Doctor ID</th>
                <th>Department</th>
                <th>Patient History</th>
            </tr>
        </thead>
        <tbody>
        {% for appt in cancelled %}
            <tr>
                <td>{{ appt.appointment_id }}</td>
                <td>{{ appt.patient_id }}</td>
                <td>{{ appt.doctor_id }}</td>
                <td>{{ doctor_department_map.get(appt.doctor_id, "N/A") }}</td>
                <td>
                    <a href="{{ url_for('admin_api.patient_history',patient_id=appt.patient_id)}}">View</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('auth.login') }}">logout</a>
{% endblock %}